.cart-container{
  text-align: center;
}
.item-section{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  
}

.item-article{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem;
}
.item-name, .item-price, .item-quantity {
  margin: 0;
}

.item-name {
  max-width: 210px;
}

.item-image{
  width: 200px;
  border-radius: 8px;
}

.delete-item-button{
  border: 0px transparent;
  background-color: transparent;
}
.fa-trash-alt{
  color: var(--main-color-pink);
}
.fa-trash-alt:hover{
  color: var(--main-color-pink-hover);
}

.go-back-button{
  border-radius: 4px;
  background-color: var(--main-color-pink);
  color: #fff;
  border: transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.go-back-button:hover{
  background-color: var(--main-color-pink-hover);
  color: #fff;
}

.button-cart{
  border-radius: 4px;
  color: #fff;
  border: transparent;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
}
.button-cart:hover{
  color: #fff;
}
.clear{
  background-color: #fb6b78;
}
.clear:hover{
  background-color: red;
}
.end{
  background-color: var(--main-color-pink);
  text-decoration: none;
}
.end:hover{
  background-color: var(--main-color-pink-hover);
}