.productDetail{
  width:fit-content;
  max-width: 80%;
  margin: 1rem auto 3rem;
  display: flex;
  flex-direction: row;
}

.card-img-top{
  max-width: 15rem;
}

.body-detail {
  height: fit-content;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title{
  margin-bottom: 1rem;
}

.card-price{
  margin: 0;
  font-size: 1.2rem;
}

.product-added{
  color: red;
}
