.productDetail{
  width:70%;
  max-width: 850px;
  margin: 1rem auto 3rem;
  display: flex;
  flex-direction: row;
}

.card-img-top{
  max-width: 15rem;
  margin: 1rem;
  border-radius: 8px;
}

.body-detail {
  height: fit-content;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title{
  margin-bottom: 1rem;
}

.card-price{
  margin: 0;
  font-size: 1.2rem;
}

.product-added{
  color: red;
}

.btn-shop-end{
  margin: 0.1rem;
  font-size: 0.8rem;
  background-color: var(--main-color-pink);
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px 10px;
  color: #fff;
}
.btn-shop-end:hover{
  background-color: var(--main-color-pink-hover);
}