.counter{
  display: flex;
  flex-direction: column;
}
.counter-container button{
  margin: 0.5rem;
}
.counter-btn{
  margin: 0.1rem;
  font-size: 0.8rem;
  background-color: var(--main-color-pink);
  border: 0px;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
}

.counter-btn:hover{
  background-color: var(--main-color-pink-hover);
}

.counter-input{
  width: 6rem;
  text-align: center;
}