.checkout-container{
  width: 60%;
  margin: 3rem auto;
  text-align: center;
  min-height: 50vh;
}

.checkout-title{
  text-align: center;
}
.checkout-form{
  display: flex;
  flex-direction: column;
}
.form-floating{
  margin: 1rem;
}

.send{
  width: 30%;
  margin: 0 auto;
  border: 0px;
  background-color: var(--main-color-pink);
}

.send:hover{
  background-color: var(--main-color-pink-hover);
}