.navbar{
  background-color: var(--main-color-light-pink);
}
.nav-item{
  align-self: center;
  cursor: pointer;
  margin: 0.5rem;
}
.nav-item.home {
  font-family: 'Meow Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color-pink-hover);
}

.nav-item:hover{
  font-weight: 600;
  color: black;
}

.fa-shopping-cart{
  margin: 0 0.5rem;
  font-size: 1.3rem;
  vertical-align:middle;
}