.navbar{
  background-color: #ffebd2;
}
.nav-item{
  align-self: center;
  cursor: pointer;
  margin: 0.5rem;
}

.nav-item:hover{
  font-weight: 600;
}

.fa-shopping-cart{
  margin: 0 0.5rem;
  font-size: 1.3rem;
  vertical-align:middle;
}